<div class="box box-primary">
    <div class="box-body">
        <form id="add-currency-form" name="addCurrencyForm" class="form-horizontal" ng-submit="$ctrl.addCurrency()">
            <div uib-alert
                 ng-repeat="alert in $ctrl.alerts" ng-class="'alert-' + (alert.type || 'info') + ' fade in'"
                 close="$ctrl.closeAlert($index)">
                <strong>{{alert.title}}</strong>
                <p>{{alert.message}}</p>
            </div>

            <div class="form-group">
                <label for="query" class="control-label col-sm-3">
                    <span ng-show="loading"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                    Search
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control"
                           id="query" name="query" autocomplete="off"
                           ng-model="$ctrl.currency"
                           placeholder="Type to search..." required="required"
                           uib-typeahead="currency as (currency.name + '(' + currency.code + ')') for currency in $ctrl.loadCurrencies(addCurrencyForm.query.$viewValue) | limitTo:10"
                           typeahead-min-length="2" typeahead-editable="false"
                           typeahead-loading="loading" typeahead-no-results="noResults"/>
                    <span class="help-block" ng-show="noResults">
                        Nothing found
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="control-label col-sm-3">Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control"
                           id="name" name="name" ng-model="$ctrl.currency.name"
                           disabled="disabled">
                </div>
            </div>

            <div class="form-group">
                <label for="code" class="control-label col-sm-3">Code</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control"
                           id="code" name="code" ng-model="$ctrl.currency.code"
                           disabled="disabled">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-success"
                            ng-disabled="$ctrl.currency == null || $ctrl.currency == undefined">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>